.Fade {
    background: black;
    opacity: 95%;
}
.modalheader{
    background-color: rgb(63, 137, 185);
    color: #fff;
}
.imgUpload p {
    font-size: 12px;
    cursor: pointer;
}
.btn-submit {
    background-color: rgb(63, 137, 185);
    color: #fff; 
    position: relative;
    left: 200px;
}